*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Arial', sans-serif;	
}
html{
	font-size:16px;
}
.Landing{
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:Center;
	flex-direction:column;
	gap:20px;
	text-align:center;
	padding:2px;
		background: linear-gradient(rgba(0,0,0,0.38), rgba(0,0,0,0.38)), url("./assets/6231375.jpg");
	 background-position:center;
	 background-repeat:no-repeat;
	 background-size:Cover;
}
.Landing h3{
	font-size:38px;
	color:#fff;
	letter-spacing:1.5px;
	font-weight:550;
}
	
.Landing h1{
	font-size:45px;
	font-weight:500;
	color:#fff;
	letter-spacing:1.8px;
	text-transform:uppercase;
}
.Landing img{
	width:250px;
	height:250px;
	border-radius:50%;
	border:2px solid white;
}
.Landing p{
	color:#a1a1a1;
}
button{
	background:#1167b1;
	padding:14px 25px;
	font-size:20px;
	display:inline-block;
	letter-spacing:1.5px;
	border-radius:5px;
	border:0;
	border-radius:10px;
}
button a{
	color:white;
	text-decoration:none;
}
.about{
	position:relative;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5%;
	padding-right:5%;
}
.about h1{
	font-size:36px;
	color:#1167b1;
	letter-spacing:1.8px;
	text-align:Center;
	font-weight:500;
}
.about h1:after, 
.about h1:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
	text-decoration-color:orange;
}
.about p{
	fonr-size:18px;
	color:#a1a1a1;
	margin-bottom:5px;
}
.skills{
	position:relative;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5%;
	padding-right:5%;
	text-align:center;
}
.skills h1{
	font-size:36px;
	color:#1167b1;
	letter-spacing:1.8px;
	text-align:Center;
	font-weight:500;
}	
.skills h1:after, 
.skills h1:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
	text-decoration-color:orange;
}
.skills img{
	width:15%;
	aspect-ratio:3/2;
	object-fit:contain;
	mix-blend-mode:color-burn;
	margin-bottom:50px;
}
.projects h1{
	font-size:36px;
	color:#1167b1;
	letter-spacing:1.8px;
	text-align:Center;
	font-weight:500;
}	
.projects h1:after, 
.projects h1:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
	text-decoration-color:orange;
}
@media screen and (max-width: 720px){
	.Landing{
		height:100vh;
	}
.Landing h1{
	font-size:35px;
}
.Landing h3{
	font-size:30px;
}
.about{
	display:block;
}
.skills{
	display:block;
	width:100%;
}
.skills img{
	display:block;
	width:100%;
	height:150px;
	margin-bottom:10px;
}
}
@media only screen and (min-width:320px) and (max-width: 915px) and (orientation:landscape){
.Landing{
	height:150vh;
}
}